.registercomponent {
    background-color: #EBE3D5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.username-input {
    padding: 1rem;
    border-radius: 10px;
    border-width: 2px;
    border-color: #EBE3D5;
    width: 100%;
}

.username-input:focus {
    outline: none;
}

.register-submit {
    background-color: #B0A695;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.register-submit:hover {
    background-color: #978d7d;
}