.navbar {
  position: fixed;
  width: 100%; 
  transition: top 0.3s;
  top: 0;
}

.navbar-hidden {
  top: -96px;
}
.navbar-spacer {
    height: 96px;
}

.search-bar {
    outline: none;
    color: black;
}
.search-button {
    background-color: rgb(208, 208, 208);
}
.search-button:hover {
    border-color: grey;
    background-color: rgb(193, 193, 193);
}

.background-of-navbar {
    background-color: #F3EEEA;
}

.login-button {
    background-color: #B0A695;
    border: none;
}

.login-button:hover {
    background-color: #4f596a;
}

.login-button:focus {
    background-color: #414a58;
    outline: none;
}

.register-button {
    background-color: #776B5D;
    border: none;
}

.register-button:hover {
    background-color: #8894a2;
}

.register-button:focus {
    background-color: #6c7782;;
    outline: none;
}

.profile-button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
    background-color: #B0A695;
}